[bumpversion]
current_version = 0.2.105
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:webdataset/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
