*.pyc
_*
!__init__.py
.*
!.gitignore
__pycache___
.ipynb_checkpoints
OLD
data
models
Untitled*.ipynb
.*
*.tar
temp
*.bak
build
venv
EXTRA
cache.db
cache
*_files
dask-worker-space
*.db
test-*.ipynb
try-*.ipynb
docs/webdataset
*.mdb
dist
webdataset.egg-info
docsrc/*.md
openimages.py
rust-test.ipynb
test.cbors
test.py
notebooks/openimages.py
notebooks/wordtrain.ipynb
webdataset/tests/test_pipeline.log
