.*
.*
_*
*.bak
build
cache
cache.db
coverage.*
dask-worker-space
data
*.db
dist
docs
docsrc/*.md
docs/webdataset
EXTRA
*_files
!.gitignore
!__init__.py
.ipynb_checkpoints
*.mdb
models
notebooks/openimages.py
notebooks/wordtrain.ipynb
OLD
openimages.py
out*
*.pyc
__pycache___
rust-test.ipynb
shardindex.json
site/
*.tar
temp
test.cbors
test-*.ipynb
test.py
try-*.ipynb
Untitled*.ipynb
venv
webdataset.egg-info
webdataset/tests/test_pipeline.log
pdm.lock
log
