!.gitignore
!__init__.py
*.bak
*.db
*.egg-info
*.mdb
*.pyc
*.tar
*_files
.*
.*
.ipynb_checkpoints
.pypirc
EXTRA
OLD
Untitled*.ipynb
_*
__pycache___
build
cache
cache.db
coverage.*
dask-worker-space
data
dist
log
models
out*
pdm.lock
poetry.lock
rust-test.ipynb
shardindex.json
site/
temp
test-*.ipynb
test.cbors
test.py
try-*.ipynb
venv
