invoke
typer

mkdocs
setuptools
wheel

autoflake
pytest
pytest-cov
isort
black
mypy
flake8
pydocstyle
bandit
twine
wheel
mkdocs
mkdocs-autorefs
mkdocs-material
mkdocs-minify-plugin
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python

jupyter
jupyterlab
notebook
nbconvert
papermill
# ipywidgets
# jupyter_contrib_nbextensions

msgpack
cbor
lmdb

Pillow
numpy
scipy
matplotlib
imageio

torch
torchvision
# pytorch_lightning
# adapter-transformers
# sentencepiece
# pyphen

# ray
# ray[tune]
# ray[default]
# ray[sgd]
