# adapter-transformers
autoflake
bandit
black
build
bump2version
# cbor
flake8
imageio
invoke
# ipywidgets
isort
jupyter
# jupyter_contrib_nbextensions
jupyterlab
lmdb
matplotlib
mkdocs
mkdocs-autorefs
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocstrings
mkdocstrings-python
msgpack
mypy
nbconvert
notebook
numpy
papermill
pdm
Pillow
pydocstyle
# pyphen
pytest
pytest-cov
 pytorch_lightning
# ray
# ray[default]
# ray[sgd]
# ray[tune]
scipy
# sentencepiece
setuptools
torch
torchvision
twine
typer
wheel
