mkdocs
setuptools
wheel
invoke

msgpack
cbor

lmdb

# torch
# torchvision
# torchaudio
jupyterlab
pytest

isort
black
mypy
flake8
pydocstyle
bandit

Pillow
numpy
scipy
matplotlib
twine
wheel
imageio

nbconvert
jupyter-contrib-nbextensions

mkdocs
pdoc
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
pytorch_lightning
torchmore

torch
torchvision
